/* about us page */

.about-us {
  height: 100%;
  width: 100%;
}
.about-us-content {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

/* about us page content */

/* about us title */
.title {
  align-items: center;
  background-color: black;
  display: flex;
  grid-row-end: 2;
  grid-row-start: 1;
  justify-content: center;
}
.title h1 {
  font-size: 11rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem;
}

#about-us-title {
  -webkit-text-stroke: 0.001rem #77bb79;
  color: #cef792;
}

/* about us paragraphs */

.about-us section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-pg {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.about-us-pg h2 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

.about-us-pg p {
  font-family: "Oswald", "sans-serif";
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
}

/* special colours for titles */

#who-are-we h2 {
  color: #415a42;
}

#what-do-we h2 {
  color: #d58be8;
}

#where-are-we h2 {
  color: #b1d380;
}

@media only screen and (max-width: 768px) {
  .title h1 {
    color: #cef792;
    font-size: 5rem;
  }

  .about-us-pg {
    width: 100%;
  }

  .about-us-pg h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .about-us-pg p {
    font-family: "Oswald", "sans-serif";
    font-size: 1rem;
    padding: 0.5rem;
  }
}
