/** home component **/

.home {
  display: flex;
  grid-row-end: 2;
  grid-row-start: 2;
}

/* home content */
.home-content {
  background-image: url("../../assets/home/EnergyBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.home-content a {
  font-size: 10rem;
  letter-spacing: 0.5rem;
}

.home-content-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-content a {
  -webkit-text-stroke: 0.03em #000000;
  color: #cef792;
  font-size: 12rem;
}

#ms-paint {
  height: auto;
  margin-top: -9rem;
  width: 23vw;
}

#ms-paint-beads {
  height: auto;
  margin-right: 9vh;
  width: 15vw;
}

#saturn-gif {
  height: auto;
  margin-bottom: 10vh;
  width: 20vw;
}

#cd-gif {
  margin-right: 10vw;
}

.home-content-column img {
  width: 10vw;
  height: auto;
}

/* home page slideshow */

.slideshow {
  align-items: center;
  display: flex;
  grid-column: 2;
  grid-row-end: 2;
  grid-row-start: 1;
  justify-content: center;
}
/* text on the slideshow */

#home-shop-link-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .home-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .home-content a {
    font-size: 5rem;
    letter-spacing: 0.02rem;
  }

  .slideshow {
    grid-column: 1;
  }

  .slideshow a {
    left: 50%;
    top: 35%;
  }

  #ms-paint-beads,
  #ms-paint,
  #saturn-gif,
  #cd-gif,
  .home-content-column {
    display: none;
  }

  #home-shop-link-mobile {
    align-self: center;
    display: block;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
}
