html,
body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer {
  display: grid;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color: #b0cf94;
}

footer a {
  display: inline-block;
}
