html,
body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* header container*/

header {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100%;
  background-color: #b0cf94;
}

.header-content {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

/* header content */

.links {
  float: left;
}

.links li {
  display: inline;
  padding: 1rem;
}

.icons {
  float: right;
}

.icons li {
  display: inline;
  padding: 1rem;
}
